<h1>Bookmark manager</h1>
<form action ='/bookmarks/new' method ='get'>
<input class ='add' type ='submit' value='Add bookmark'>
</form>
<h4 class ='error'><%= flash[:notice] %></h4>

<ul class = "bookmark">
  <% @bookmarks.each do |bookmark| %>
    <li class ='item' id ="bookmark-<%= bookmark.id %>">
      <a href ="<%= bookmark.url %>" target ="_blank">
        <%= bookmark.title %>
      </a>
      <form action ="/bookmarks/<%= bookmark.id %>" method ="post">
      <input type ='hidden' name ='_method' value ='DELETE' />
      <input class = 'del' type ="submit" value ="Delete" />
      </form>
      <form action ="/bookmarks/<%= bookmark.id %>/edit" method ="get">
      <input class ='edits' type ="submit" value ="Edit" />
      </form>
    </li>
  <% end %>
</ul>

<style>
h1 {
  color: #555;
  font-size: 3rem;
}
.error {
  color: red;
  text-align: center;
}

.bookmark {
  display: flex;
  height: 70%;
  box-shadow: 2px 5px 15px #222;
  padding: 35px;
  background-color: #ddd;
  border-radius: 5px;
  flex-direction: column;
  
  align-items: enter;
  margin: 1.5rem;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.item a {
  width: 20%;
}
.item:hover {
  background-color: #888;
  border-radius: 5px;
}
body {
  padding: 1.5rem;
  text-align: center;
  background-color: #ddd;
  align-items: flex-top;
}

.add {
  padding: 16px;
  width: 12rem;
  color: #ddd;
  border-radius: 50px;
  background-color: #444;
  border: none;
  font-size: 1rem;

}
form {
  margin: 9px;
  padding: 5px;
}

a {
  padding: 10px;
  margin: 4px;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

input {
  padding: 8px;
  width: 100px;
  border: none;
  border-radius: 5px;
}

.edits:hover {
  background-color: lightblue;
}

.del:hover {
  background-color: pink;
}

</style>